sample
{
  background-color: #ffffff;
  width: 100%;
}
mymessage
{
  display: block;
  background-color: #999999;
  margin-bottom: 30pt;
} 

body
{
    background-color: powderblue;
}

h1
{
    color: red;
}
